.Main {
    margin: 0 auto;
    width: 90%;
    background-color: transparent;
    border: unset;
}

#basketItems {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 10px;
}

#noitems {
    display: none;
    font-size: 14px;
    font-style: italic;
    user-select: none;
}

.itemcon {
    padding: 15px;
    width: fit-content;
    background-color: rgb(27, 27, 27);
    border-radius: 5px;
}

.itemname {
    font-size: 18px;
    font-weight: 600;
}

.itemdesc {
    margin-top: 5px;
    width: 80%;
    font-size: 14px;
    font-style: italic;
}

.subjectCon {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.itemprice::before {
    content: "Price: $"
}

.itemquant::before {
    content: "Quantity: "
}

.removebtn {
    display: flex;
    margin-top: 10px;
    padding: 5px;
    width: fit-content;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #ad413b;
    user-select: none;
    cursor: pointer;
}

.removebtn {
    display: flex;
    margin-top: 10px;
    padding: 5px;
    width: fit-content;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #ad413b;
    user-select: none;
    cursor: pointer;
}

.checkoutcon {
    display: flex;
    width: fit-content;
    margin-top: 20px;
    flex-direction: column;
    gap: 5px;
}

#checkout {
    margin-top: 10px;
    padding: 10px;
    width: fit-content;
    font-size: 18px;
    border-radius: 5px;
    background-color: #337ffa;
    user-select: none;
    cursor: pointer;
}

#checkout:hover {
    background-color: #344d74;
}

hr.checkoutline {
    width: 100%;
    border: unset;
    border-top: dotted 1px;
}

#checkoutwindowBg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007c;
}

#checkoutwindow {
    display: block;
    padding: 25px;
    margin: 0 auto;
    margin-top: 200px;
    width: 30%;
    height: fit-content;
    border: 1px solid #545454;
    border-radius: 5px;
    background-color: #252525;
}

#checkoutcomplete {
    display: none;
    padding: 25px;
    margin: 0 auto;
    margin-top: 200px;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: fit-content;
    border-radius: 5px;
    background-color: #398D73;
}

.checkmark {
    margin: 0 auto;
    justify-content: center;
    width: 64px;
}

.completeHead {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
}

.completeMed {
    font-size: 16px;
}

.subcheckouthead {
    font-size: 18px;
    font-weight: bold;
}

.con {
    display: flex;
    justify-content: space-between;
}

.paymentcon {
    margin-top: 40px;
}

.payicons {
    display: flex;
    gap: 5px;
}

.payicon {
    width: 38px;
}

.paymentfields {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#checkouttotal {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #373737;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #337ffa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #355fa7;
}