@font-face {
    font-family: "Roboto Slab";
    src: url("../media/home/RobotoSlab-VariableFont_wght.ttf");
}


body {
    padding: 0;
    margin: 0;
    background-color: rgb(50,50,50);

    color: white;
    font-family: 'SF Pro Display', sans-serif;
}

button{
    cursor: pointer;
}
.Main{
    background-color: black;
    height: auto;
    width: 100%;
    border-top: 5px solid rgb(58, 58, 58);
    border-bottom: 5px solid rgb(58, 58, 58);

}

.Intro > div{
    padding-left: 15%;
    padding-right: 15%;

    height: 35vh;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(121,9,38,1) 35%, rgba(0,212,255,1) 100%);
}
.Intro h2{
    margin-top: 0;
}

.Intro button{
    background-color: gray;
    color: white;
    text-transform: uppercase;
    border: 0;
    padding: 10px;
    font-size: large;
}
.Intro button:hover{
    background-color: rgb(95, 95, 95);
}

.Intro li{
    margin: 10px 0;
}


.slide {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
    display: flex;
}


.View_Box{
    padding-top: 1%;
    background: linear-gradient(90deg, rgba(50,50,50,1) 0%, rgba(50,50,50,1) 27%, rgba(39,116,73,1) 100%);
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.View_Box > div{
    margin-bottom: 1%;
    background-color: rgb(247, 247, 247);
    width: 48%;
    height: 30vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.View_Box > div img{
    height: 80%;
    width: 45%;
    object-fit: contain;
}

.View_Box > div h2{
    font-weight: 1000;
}
.View_Box > div h2,.View_Box > div p,.View_Box > div button{
    margin-top: 0;
    color: black;
    max-width: 250px;
    font-family: Roboto Slab;
}
.View_Box > div > div{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.View_Box > div button{
    height: 50px;
    border: 1px solid #4ec8b8;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    background-color: #4ec8b8;

}

.View_Box > div button:hover{
    background-color: #2a7067;
    transition: 0.5s;

}
.View_Box > div button > img{
    object-fit: fit;
    width: auto;

    height: 100%;
}

.View_Box > div button > span{
    width: 80%;
}